In [1]:
import pandas as pd

# Load the breast cancer data from the CSV file
data = pd.read_csv('breast_cancer.csv')

# Specify the columns for which you want to create the profile
columns_of_interest = ['Sample code', 'Clump Thickness', 'Uniformity of Cell Size',
                       'Uniformity of Cell Shape', 'Marginal Adhesion', 'Single Epithelial Cell Size',
                       'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoli', 'Mitoses', 'Class']

# Initialize an empty list to store dictionaries
profile_data = []

# Iterate through the columns and populate the profile data list
for column in columns_of_interest:
    data_type = data[column].dtype
    unique_values = data[column].nunique()
    
    # Convert the column to string type and then check for missing values
    if "?" in data[column].astype(str).values:
        min_value = 'N/A'
        max_value = 'N/A'
    else:
        min_value = data[column].min()
        max_value = data[column].max()
    
    # Append the information as a dictionary to the list
    profile_data.append({'Column Name': column,
                         'Data Type': data_type,
                         'Unique Values': unique_values,
                         'Min': min_value,
                         'Max': max_value})

# Create the profile table DataFrame by concatenating the dictionaries
profile_table = pd.DataFrame(profile_data)

# Display the profile table
print(profile_table)

                    Column Name Data Type  Unique Values    Min       Max
0                   Sample code     int64            645  61634  13454352
1               Clump Thickness     int64             10      1        10
2       Uniformity of Cell Size     int64             10      1        10
3      Uniformity of Cell Shape     int64             10      1        10
4             Marginal Adhesion     int64             10      1        10
5   Single Epithelial Cell Size     int64             10      1        10
6                   Bare Nuclei    object             11    N/A       N/A
7               Bland Chromatin     int64             10      1        10
8               Normal Nucleoli     int64             10      1        10
9                       Mitoses     int64              9      1        10
10                        Class     int64              2      2         4

In [4]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('ds_salaries.csv')

# Get the names of all columns
column_names = data.columns

# Print the column names
print(column_names)

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [10]:
import pandas as pd

# Load the  data from the CSV file
data = pd.read_csv('ds_salaries.csv')

# Specify the columns for which you want to create the profile

columns_of_interest = ['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size']

# Initialize an empty list to store dictionaries
profile_data = []

# Iterate through the columns and populate the profile data list
for column in columns_of_interest:
    data_type = data[column].dtype
    unique_values = data[column].nunique()
    
    # Convert the column to string type and then check for missing values
    if "?" in data[column].astype(str).values:
        min_value = 'N/A'
        max_value = 'N/A'
    else:
        min_value = data[column].min()
        max_value = data[column].max()
    
    # Append the information as a dictionary to the list
    profile_data.append({'Column Name': column,
                         'Data Type': data_type,
                         'Unique Values': unique_values,
                         'Min': min_value,
                         'Max': max_value})

# Create the profile table DataFrame by concatenating the dictionaries
profile_table = pd.DataFrame(profile_data)

# Display the profile table
print(profile_table)

           Column Name Data Type  Unique Values  \
0            work_year     int64              4
1     experience_level    object              4
2      employment_type    object              4
3            job_title    object             93
4               salary     int64            815
5      salary_currency    object             20
6        salary_in_usd     int64           1035
7   employee_residence    object             78
8         remote_ratio     int64              3
9     company_location    object             72
10        company_size    object              3

                              Min                   Max
0                            2020                  2023
1                              EN                    SE
2                              CT                    PT
3   3D Computer Vision Researcher  Staff Data Scientist
4                            6000              30400000
5                             AUD                   USD
6                            5132                450000
7                              AE                    VN
8                               0                   100
9                              AE                    VN
10                              L                     S

In [12]:
# Assuming 'data' is your DataFrame with the 'salary_currency' column
data.drop(columns=['salary_currency'], inplace=True)

# Print the updated DataFrame
print(data)

      work_year experience_level employment_type                 job_title  \
0          2023               SE              FT  Principal Data Scientist
1          2023               MI              CT               ML Engineer
2          2023               MI              CT               ML Engineer
3          2023               SE              FT            Data Scientist
4          2023               SE              FT            Data Scientist
...         ...              ...             ...                       ...
3750       2020               SE              FT            Data Scientist
3751       2021               MI              FT  Principal Data Scientist
3752       2020               EN              FT            Data Scientist
3753       2020               EN              CT     Business Data Analyst
3754       2021               SE              FT      Data Science Manager

       salary  salary_in_usd employee_residence  remote_ratio  \
0       80000          85847                 ES           100
1       30000          30000                 US           100
2       25500          25500                 US           100
3      175000         175000                 CA           100
4      120000         120000                 CA           100
...       ...            ...                ...           ...
3750   412000         412000                 US           100
3751   151000         151000                 US           100
3752   105000         105000                 US           100
3753   100000         100000                 US           100
3754  7000000          94665                 IN            50

     company_location company_size
0                  ES            L
1                  US            S
2                  US            S
3                  CA            M
4                  CA            M
...               ...          ...
3750               US            L
3751               US            L
3752               US            S
3753               US            L
3754               IN            L

[3755 rows x 10 columns]